{% extends 'base.html' %}
{% block content %}
<h1>About</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta aperiam nostrum, recusandae, sunt quia vel itaque reprehenderit porro id corporis harum tenetur necessitatibus eos, sed voluptas? Quaerat praesentium ea eos cum ad soluta et voluptatum, necessitatibus optio sapiente nihil corporis delectus labore? Fuga, amet distinctio aperiam, modi quaerat tempora doloribus, eaque sequi dolorum accusantium ipsa natus nobis blanditiis vero officiis quidem. Fuga minima dignissimos unde obcaecati voluptatum quas, eaque assumenda, nesciunt nisi repudiandae et fugit ipsum! Nulla porro temporibus fugit expedita commodi? Laudantium aut deserunt necessitatibus, animi nobis quaerat distinctio id beatae provident excepturi quasi et culpa dicta mollitia? Accusamus.</p>
{% endblock %}